@charset "UTF-8";
/* CSS Document */

/*
.grid {
	border: 1px solid red;
	overflow: hidden;
}

.unit {
	float: left;
}

.unit-s-1{
	width: 100%
}

.gutter {
	padding: 1em;
	
}
*/


.portfolio-section-1,
.portfolio-section-2,
.portfolio-section-3,
.portfolio-section-4,
.portfolio-section-5,
.portfolio-section-6,
.portfolio-section-7{
	padding: 4rem 2rem;
}

.content {
	padding: 0 2rem;
}


/*iPad*/
@media only screen and (min-width: 48em){ 
.text-align{
	text-align: left;
}

}

/*Standard Desktop & Laptop*/
@media only screen and (min-width: 64em){ 

.content {
	padding: 0 10rem;
}

.portfolio-section-1,
.portfolio-section-2,
.portfolio-section-3,
.portfolio-section-4,
.portfolio-section-5,
.portfolio-section-6,
.portfolio-section-7{
	padding: 4rem 10rem;
}

.about-section {
	padding: 20rem 10rem;
}


}

/*Large Screens*/
@media only screen and (min-width: 80em){ 

}


/*Extra-Large Screens*/
@media only screen and (min-width: 114em){ 

}


