@charset "UTF-8";
/* CSS Document */

/* COLOURS

Salmon - #eb7f50
Red-orange - #ef4036;
Blue-mint - #d8eff4
Dark Grey - #2e2e2e

*/

html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

/* GENERAL */

body {
	margin: 0;
	padding: 0;
}

section {
	padding: 1rem 0;
}

img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.top-btn {
	right: 2em;
	bottom: 2em;
	position: fixed;
	opacity: 0;
	width: 55px;
}

.top-btn[data-state="visible"] {
	opacity: 1;
}

/* NAVIGATION */

.nav-bar{
	background-color: red;
	height: 50px;
	position: fixed;
}

.logo {
	width: 50px;
	height: 50px;
	float: left;
	display: inline-block;
	margin-top: -9.2rem;
	margin-left: 0.2rem;
	position: fixed;
	/*background-color: rgba(235,127,80,.7);*/
}

.nav {
	text-align:right;
	position: fixed;
	height: 50px;
	font-size: 12px;
}

.nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	text-align:right;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.5px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	line-height: 2rem;
}

.nav li {
	text-align:center;
	display: inline-block;
	padding: 0.5em;
}

.nav ul {
	padding: 0;
	margin: 0 auto;
	xdisplay: inline-block;
	/*width: 17em;*/
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #ef4036;
}

/* "HOME" PAGE */

.main-banner-section {
	background: transparent url("../img/mountains-banner-noise-smaller.jpg") no-repeat center top;
	/*background: transparent url("../img/colour-mountains-noise.jpg") no-repeat center top;*/
	background-size: cover;
	padding: 8rem 0;
}

/*.outline {
	border: 2px solid white;
	margin: 0 200px;
}*/

/* ABOUT */
.jagged-line {
	margin-top: -1.5rem;	
}

/* EXTRAORDINARY */

/* Need other prefixes */
.js-extraordinary-fade {
	-webkit-animation: extraordinary-fade 1s linear forwards;	
	-moz-transition: extraordinary-fade 1s linear forwards;
	-ms-transition: extraordinary-fade 1s linear forwards;
	-o-transition: extraordinary-fade 1s linear forwards;	
}

.line-separator{
	height: 1px;
	background: #ccc;
	
}


.x-hover{
	position: relative;	
}

.close{
	width: 30px;
	opacity: .4;
	margin-right: 1rem;
	margin-bottom: 1rem;
	-webkit-transition: opacity .125s ease-in-out;
	-moz-transition: opacity .125s ease-in-out;
	-o-transition: opacity .125s ease-in-out;
	transition: opacity .125s ease-in-out;
}

.close:hover{
	opacity: 1;
}



@-webkit-keyframes extraordinary-fade {
	0%{
		opacity: 0;
	} 
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes top-button-fade {
	0%{
		opacity: 0;
	} 
	100%{
		opacity: 1;
	}
}

/* PORTFOLIO */

.extraordinary-section {
	/*background-color: #2e2e2e;*/
	padding: 5rem 0;
	background-image: url(../img/stardust-gray.png);
}


.portfolio-section-5{
	/*background-color: #f3c316;*/
	background-image: url(../img/golden-days/banner-photo.jpg);
	background-size: cover;
}

.portfolio-section-7{
	/*background-color: #590c30;	**/
	background-image: url(../img/burgundy/burgundy-banner.jpg);
	background-size: cover;
}

.portfolio-section-6{
	background-color: #c6dddf;
}

.portfolio-section-3 {
	/*background-image: url(../img/alices-tea-shop/alice-cover.jpg);
	
	background-size: cover;*/
	color: #fff;
	background-color: #94a7b1;
}

.portfolio-section-2 {
	background-image: url(../img/sarah-noelle/sarah-noelle-bg-narrow.jpg);
	color: #fff;
	background-size: cover;
}

.portfolio-section-1 {
	background-color: #4f5462;
	color: #fff;
	/*background-image:url(../img/soap-factory/banner.svg);*/
}

.portfolio-section-4 {
	background-image: url(../img/the-resistance/resistance-cover-s.jpg);
	background-size: cover;
}

/* PORTFOLIO DROP DOWN */

.content{
	background-color: #fff;
}

.opener {
	display: block;
	text-decoration: none;
	color: #000;
}

.open{
	overflow: hidden;
	max-height: 0;
}

.open[data-state="expanded"]{
	max-height: 10000em;
}

/* PORTFOLIO CONTENT */

.soap-logo{
	width: 100%;
	padding: 1.5rem 0;
}

.soap-bottle{
	margin-bottom: 3rem;
	margin-top: 4em;
}

.img-one{
	width: 100%;
	padding: 1rem 0;
}

/* FOOTER */
.footer-section{
	padding: 14rem 1rem;
	background-color: #2e2e2e;
}

.social-icons{
	width: 40px;
	opacity: .5;
}

.social-icons:hover{
	opacity: 1;
}

.social {
	text-align: center;
	text-decoration: none;
	letter-spacing: 1rem;
}

.social-link {
	color: #ffffff;
	opacity: .5;
	text-decoration: none;
}


.social-link:hover {
	opacity: 1;
}
	

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}
	
	
.about-section {
	background-color: #de4848;
	padding: 5rem 2rem;
}

@media only screen and (min-width: 32em){
.portfolio-section-1 {
	background-image: url(../img/soap-factory-bg-med.svg);
}

.soap-bottle{
	margin-bottom: 3rem;
	margin-top: 1em;
}

}


@media only screen and (min-width: 48em){
	
.portfolio-section-1 {
	background-image: url(../img/soap-factory-bg.svg);
}	

.portfolio-section-4 {
	background-image: url(../img/the-resistance/resistance-cover.jpg);
}

.main-banner-section {
	padding: 15rem 0;
}

.about-section {
	padding: 8rem 4rem;
}

.extraordinary-section {
	padding: 8rem 0
}

.nav li {
	padding-left: 2em;
	padding-right: 2em;
	font-size: 13px;
}

.logo {
	width: 80px;
	height: 80px;
	margin-top: -16.8rem;
	margin-left: 1rem;
}

.copyright {
	text-align: left;
	padding: 0 3rem;
}

/* PORTFOLIO CONTENT */

.portfolio-section-1 {
	background-image: url(../img/soap-factory-bg-large.svg);
}	

}

@media only screen and (min-width: 64em){

.main-banner-section {
	padding: 18rem 0;
}

.jagged-line {
	margin-top: -4rem;	
}

.logo {
	width: 110px;
	height: 110px;
	margin-top: -19.8rem;
	margin-left: 1rem;
}

.about-section {
	padding: 10rem 8rem;
	line-height: 1.5rem;
}

.extraordinary-section {
	padding: 10rem 0
}

.extraordinary {
	font-size: 24px;
}


.intro-2{
	font-size: 14px;
}

h2{
	font-size: 24px;
}

h3,
.portfolio-description {
	text-align: left;
}


}

@media only screen and (min-width: 80em){
	
.main-banner-section {
	padding: 25rem 0;
}

.logo {
	margin-top: -26.8rem;
}

.about-section {
	padding: .
}
	
}

@media only screen and (min-width: 114em){
}

/* CONTACT/FOOTER */